# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
tmp.yml
######################
# Windows
######################

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

######################
# OSX
######################

.DS_Store
.svn

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


######################
# Eclipse Intellij
######################

.project
tmp/**
*.tmp
*.bak
*.bkp
*.dtmp
*.swp
*~.nib
.classpath
.settings/
.idea/*
*.iml
